@charset "UTF-8";
/* Google Fonts用のCSSを読み込み
------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Passion+One|Josefin+Sans");
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
/* 文字コードの指定
------------------------------------------------------------*/
/*====================ここから共通しているCSS================================*/
.background_wh {
  background: #fff;
  color: #000; }

/* Base
------------------------------------------------------------*/
html {
  font-size: 62.5%; }

@media (max-width: 750px) {
  html {
    font-size: 55.5%; } }
body {
  font-size: 1.4rem;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #fdfcf6;
  color: #fff; }

a {
  color: #fff;
  text-decoration: none; }
  a:visited {
    color: #bb3711; }
  a:hover {
    color: #bb3711; }
  a:active {
    color: #ec582c; }

.site_wrapper {
  margin: 0 auto;
  max-width: 1280px; }

.content_wrapper {
  margin: 0 auto;
  max-width: 960px; }

.container {
  max-width: 960px; }

@media (min-width: 400px) {
  .container {
    width: 100%;
    padding: 0 20px; } }
/* Align
------------------------------------------------------------*/
.text-center, .section_title {
  text-align: center; }

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.section_padding {
  padding: 65px 0 45px; }

.btn_wrap {
  width: 100%;
  text-align: center; }

.btn {
  color: #000;
  border: 3px solid #000;
  display: inline-block;
  margin: 0 auto;
  padding: 5px 10px; }
  .btn:hover {
    color: #fff;
    background: #000; }

.pankuzu .breadcrumb {
  padding: 15px 0 10px; }
  .pankuzu .breadcrumb li {
    display: inline-block;
    margin-left: 2px; }
    .pankuzu .breadcrumb li a {
      color: #000; }

/* Font
------------------------------------------------------------*/
.passionone {
  font-family: 'Passion One', cursive; }

.notosansjp {
  font-family: 'Noto Sans JP', sans-serif; }

.Josefin {
  font-family: 'Josefin Sans', sans-serif; }

.uppercase {
  text-transform: uppercase; }

/* Header(共通)
------------------------------------------------------------*/
header {
  background: #000; }

#header_area {
  width: 100%;
  height: 80px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 0 19px; }
  #header_area .sitetitle {
    width: 30%;
    height: 80px;
    position: relative; }
    #header_area .sitetitle .title1 {
      font-size: 41px;
      font-size: 4.1rem;
      letter-spacing: 0.15rem;
      color: #fff;
      text-shadow: 1px 1px 1px #ff0000;
      position: absolute;
      top: 16px;
      left: 0; }
    #header_area .sitetitle .title2 {
      font-size: 15px;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
      color: #fff;
      position: absolute;
      bottom: 9px;
      left: 71px; }
    @media (max-width: 750px) {
      #header_area .sitetitle .title2 {
        bottom: 15px;
        left: 60px; } }
  #header_area .navbar_area {
    width: 70%; }
    #header_area .navbar_area .nav_inner {
      font-size: 17px;
      font-size: 1.7rem;
      padding: 0 17px; }
      #header_area .navbar_area .nav_inner a {
        color: #fff;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        padding-bottom: 10px; }
        #header_area .navbar_area .nav_inner a:hover {
          text-shadow: #FFCC00 0px 0px 20px;
          color: #EA4515;
          border-bottom: 3px solid #EA4515; }
    #header_area .navbar_area .navbar_sp .sp_menu_toggle {
      display: none; }

/*#header_area*/
/* Header(PC幅)
------------------------------------------------------------*/
@media (min-width: 751px) {
  #header_area .navbar_area .navbar_pc ul {
    display: flex;
    justify-content: flex-end;
    text-align: center; }
  #header_area .navbar_area .navbar_sp .slide_menu_icon {
    display: none; } }
/* Header(SP幅)
------------------------------------------------------------*/
@media (max-width: 750px) {
  .navbar_pc {
    display: none; }

  .navbar_sp .slide_menu_icon {
    display: block;
    text-align: right; }
    .navbar_sp .slide_menu_icon i {
      font-size: 50px;
      font-size: 5rem; } }
/* ハンバーガメニュー(SP幅)
------------------------------------------------------------*/
.sp_menu_toggle {
  display: none; }

.sp_slide_menu .sp_menu_toggle {
  padding-top: 10px; }
  .sp_slide_menu .sp_menu_toggle li {
    display: block;
    text-align: center;
    padding: 5px 0;
    margin: 3px 0;
    border: 1px solid #000; }
    .sp_slide_menu .sp_menu_toggle li a {
      font-size: 16px;
      font-size: 1.6rem; }

/* footer(共通)
------------------------------------------------------------*/
footer {
  background: #000; }

.sns_wrap {
  text-align: center;
  width: 100%;
  padding: 40px 0 20px; }
  .sns_wrap .sns_icon {
    display: inline-block;
    margin-right: 5px; }
    .sns_wrap .sns_icon i {
      color: #fff;
      font-size: 30px;
      font-size: 3rem; }
  .sns_wrap .sns_icon:last-child {
    margin: 0; }

#footer {
  width: 100%;
  text-align: center;
  height: 250px;
  position: relative; }
  #footer .footer_copyright {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /*文字ずれ調整*/ }

/* toppage.html コンテンツ毎タイトル
------------------------------------------------------------*/
.section_title {
  position: relative;
  margin-bottom: 30px; }
  .section_title .section_title_text {
    font-size: 35px;
    font-size: 3.5rem;
    color: #fff; }
  .section_title .kasen {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-box;
    width: 40px;
    border-bottom: 3px solid #fff; }

.padding_sp .padding_add {
  padding-top: 25px; }

@media (max-width: 750px) {
  .section_title {
    margin-bottom: 15px; } }
/* メイン(header,footer以外)
------------------------------------------------------------*/
main {
  background: #000; }

main #blog {
  background: #fff; }

/* メインのトップ画像
------------------------------------------------------------*/
#main_image div .main_image_inner {
  position: relative; }
  #main_image div .main_image_inner .top_text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    color: #fff;
    text-shadow: 0px 2px 6px #000000;
    font-size: 40px;
    font-size: 4rem; }

/* アバウト(ABOUT)
------------------------------------------------------------*/
.about_background {
  color: #fff;
  background-image: url("../images/top/top_about.jpg");
  /*背景画像*/
  background-attachment: fixed;
  /*画面からの相対位置（背景固定）*/
  background-size: cover;
  /*背景サイズ調整*/
  height: 500px;
  /*div高さ*/
  position: relative;
  /*相対位置に配置するように調整*/ }
  .about_background .about_text {
    position: absolute;
    /*親要素からの相対位置*/
    top: 50%;
    /*親要素中の縦位置*/
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translate(0%, -50%);
    /*文字ずれ調整*/
    padding: 0;
    /*要素内余白*/
    text-align: center;
    width: 100%; }

.about_background::before {
  /* 透過した黒を重ねる */
  background-color: rgba(0, 0, 0, 0.5);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' '; }

.padding_sp p {
  font-size: 20px;
  font-size: 2rem;
  margin-top: 5px; }

/* アバウト(ABOUT)SP幅
------------------------------------------------------------*/
@media (max-width: 750px) {
  .padding_sp {
    padding: 0 20px; } }
/* コンテンツ(CONTENTS)
------------------------------------------------------------*/
#contents {
  padding: 0 0 45px; }

.contents_flexbox {
  width: 100%; }

@media (min-width: 751px) {
  .contents_flexbox {
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    /* Safari */
    justify-content: space-between; }
    .contents_flexbox .contents_images_wrap {
      width: 49%; } }
@media (max-width: 750px) {
  .contents_flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    .contents_flexbox .contents_images_wrap {
      width: 100%; } }
/*-----コンテンツ画像---------*/
.contents_images_wrap {
  position: relative; }
  .contents_images_wrap .contents_image {
    background-color: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4; }
  .contents_images_wrap .contents_text {
    position: absolute;
    top: 50%;
    /*親要素中の縦位置*/
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translate(0%, -50%);
    /*文字ずれ調整*/
    padding: 0;
    /*要素内余白*/
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-size: 3rem; }

/*-----(PC幅）---------*/
@media (min-width: 751px) {
  .contents_images_wrap:hover .contents_image {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }

  .contents_text {
    text-shadow: 1px 1px 2px #FFCC00; } }
/*-----(SP幅）---------*/
/* ブログ(BLOG)
------------------------------------------------------------*/
#blog .section_title .section_title_text {
  color: #000; }
#blog .section_title .kasen {
  border: 3px solid #000; }

.blog_flexbox .blog_inner_wrap {
  color: #000; }

.blog_inner_wrap a {
  color: #000; }
  .blog_inner_wrap a:visited {
    color: #ee6a44; }
  .blog_inner_wrap a:hover {
    color: #f07d5b; }
  .blog_inner_wrap a:active {
    color: #ec582c; }
  .blog_inner_wrap a .blog_inner_text .blog_text:first-child {
    font-size: 19px;
    font-size: 1.9rem; }
  .blog_inner_wrap a .blog_inner_text .blog_text:last-child {
    font-size: 16px;
    font-size: 1.6rem; }

.blog_btn_adjuster {
  padding: 50px 0; }

@media (min-width: 751px) {
  .blog_flexbox {
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    /* Safari */
    justify-content: space-between; }
    .blog_flexbox .blog_inner_wrap {
      width: 24%; } }
.blog_inner_wrap a:hover {
  text-decoration: underline;
  text-shadow: 0 1px 1px #FFCC00; }

@media (max-width: 750px) {
  .blog_flexbox .blog_inner_wrap a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center; }
    .blog_flexbox .blog_inner_wrap a .blog_image_wrap {
      width: 50%;
      line-height: 0; }
    .blog_flexbox .blog_inner_wrap a .blog_inner_text {
      width: 50%; }
  .blog_flexbox .blog_inner_wrap:nth-child(even) a {
    flex-direction: row-reverse; }
    .blog_flexbox .blog_inner_wrap:nth-child(even) a .blog_inner_text p {
      padding-left: 20px; }
  .blog_flexbox .blog_inner_wrap:nth-child(odd) a .blog_inner_text p {
    padding-left: 20px; } }
/* =========LIST.HTML
------------------------------------------------------------*/
.list_top_image {
  background-image: url("../images/list/list_bar_top.jpg");
  /*背景画像*/
  background-attachment: fixed;
  /*画面からの相対位置（背景固定）*/
  background-position: top center;
  background-repeat: no-repeat;
  height: 250px;
  /*div高さ*/ }

.shoplist_wrap {
  padding: 13px 0 13px;
  border-bottom: 1px solid #D2D2D2; }

.twelve .shoplist_wrap:nth-of-type(2) {
  padding-top: 0; }

.shoplist_text_title {
  font-size: 25px;
  font-size: 2.5rem;
  padding: 0 0 10px; }

.shoplist_text_explain {
  font-size: 17px;
  font-size: 1.7rem;
  padding-bottom: 10px; }
  .shoplist_text_explain .shoplist_text_readmore {
    font-size: 14px;
    font-size: 1.4rem;
    padding-left: 10px; }

.shoplist_text_Access {
  padding: 0 0 15px; }

.shoplist_text .btn_wrap {
  text-align: left; }
  .shoplist_text .btn_wrap .btn {
    padding: 3px 15px;
    margin-right: 15px; }

/*ページ下部数字ボタン*/
.page_btn_wrap {
  text-align: center;
  padding: 40px; }
  .page_btn_wrap .page_btn {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    width: 50px;
    height: 50px;
    line-height: 2; }

@media (min-width: 751px) {
  .shoplist_wrap {
    display: flex; }
    .shoplist_wrap .shoplist_image {
      width: 278px;
      padding: 0 10px; }
    .shoplist_wrap .shoplist_text {
      flex: 1;
      position: relative; }
      .shoplist_wrap .shoplist_text .shoplist_text_explain {
        letter-spacing: 0; }
      .shoplist_wrap .shoplist_text .btn_wrap {
        position: absolute;
        bottom: 8px;
        left: 0; } }
@media (max-width: 750px) {
  .shoplist_wrap {
    display: flex;
    flex-direction: column; }
    .shoplist_wrap .shoplist_image {
      width: 100%; }
    .shoplist_wrap .shoplist_text {
      width: 100%;
      margin: 0 auto; }

  .btn_wrap {
    text-align: center; } }
/* =========shop_page 詳細の CSS
------------------------------------------------------------*/
.shoppage_text_title {
  font-size: 28px;
  font-size: 2.8rem;
  background: #000;
  color: #fff;
  padding-top: 2px; }

.shoppage_text_midashi {
  font-size: 22px;
  font-size: 2.2rem; }

.underbar_lg {
  display: block;
  border-bottom: 1px solid #D2D2D2;
  margin: 10px 0 20px; }

.shop_page_information {
  padding: 30px 0; }

.shoppage_text_explain p {
  font-size: 18px;
  font-size: 1.8rem; }

.information_text_flex {
  padding: 10px 0; }
  .information_text_flex .information_subject {
    font-size: 20px;
    font-size: 2rem; }
  .information_text_flex .information_inner_text {
    font-size: 18px;
    font-size: 1.8rem; }

.information_inner_text .btn {
  padding: 0 10px;
  border: 1px solid #000;
  margin-right: 5px;
  letter-spacing: 0; }
  .information_inner_text .btn i {
    margin-right: 5px; }

.map .open_map_btn {
  margin: 20px 0; }
  .map .open_map_btn span {
    padding: 0 30px; }

@media (max-width: 750px) {
  .products_image_wrapper {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 10px; }
    .products_image_wrapper .products_image1 {
      float: left;
      width: 100%; }
    .products_image_wrapper .products_image2 {
      float: left;
      width: 100%; }
      .products_image_wrapper .products_image2 .products_image2_box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        .products_image_wrapper .products_image2 .products_image2_box .box {
          width: 19%;
          margin: 0 0 5px; }

  .information_text_flex {
    display: flex;
    flex-direction: column; }
    .information_text_flex .information_subject {
      width: 100%; }
    .information_text_flex .information_inner_text {
      width: 100%; } }
@media (min-width: 751px) {
  .products_image_wrapper {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 10px; }
    .products_image_wrapper .products_image1 {
      float: left;
      width: 71%; }
    .products_image_wrapper .products_image2 {
      float: right;
      width: 28.1%; }
      .products_image_wrapper .products_image2 .products_image2_box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        .products_image_wrapper .products_image2 .products_image2_box .box {
          width: 48%;
          margin: 0; }

  .information_text_flex {
    display: flex;
    justify-content: space-between; }
    .information_text_flex .information_subject {
      width: 20%; }
    .information_text_flex .information_inner_text {
      width: 80%; } }

/*# sourceMappingURL=style.css.map */
